services:
  backend:
    image: datamanchester/backend:v3
    build:
      context: backend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    restart: always
    depends_on: 
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/employee?useSSL=false&serverTimezone=UTC&useLegacyDatetimeCode=false
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: org.hibernate.dialect.MySQL5InnoDBDialect
      SPRING__JPA_HIBERNATE_DDL-AUTO: update
    networks:
      - backtodb
      - fronttoback

  frontend:
    image: datamanchester/frontend:v3
    build:
      context: frontend
      dockerfile: Dockerfile
      args:
        REACT_APP_API_BASE_URL: http://18.118.138.45:8080/employee/
    ports:
      - "80:80"
    restart: always
    depends_on:
      - backend
    networks:
      - fronttoback
      
  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: employee
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - backtodb

volumes:
  db-data:

networks:
  fronttoback:
  backtodb: